.button {
  cursor: pointer;
  color: inherit;
  background: linear-gradient(
    180deg,
    var(--color-quaternary) 0%,
    var(--color-tertiary) 100%
  );
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--space-2xs);
  box-shadow: inset 0 0 0 1px #222,
    0px var(--space-3xs) var(--space-2xs) rgba(0, 0, 0, 0.1);
  border: none;
}

@media (hover: hover) and (pointer: fine) {
  .button:active {
    transform: translateY(1px);
  }

  .button:hover {
    box-shadow: inset 0 0 0 1px #222,
      0px var(--space-xs) var(--space-s) rgba(0, 0, 0, 0.15);
  }
}
