body {
    font-family: var(--font-charter), sans-serif;
    margin: 0;
    font-size: var(--step-0);
    line-height: calc(var(--step-0) * 1.4);
    background-color: var(--color-primary);
    text-wrap: pretty;
}

body main {
    padding-top: var(--navbar-height);
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-lemurmure), serif;
    margin-top: 0;
    margin-bottom: 0;
    text-wrap: balance;
}

h1 {
    font-size: var(--step-5);
    line-height: calc(var(--step-5) * 1.2);
    padding-top: var(--space-m);
    margin-bottom: var(--space-s);
}

footer h1 {
    padding-top: var(--space-l);
    font-size: var(--step-7);
      color: var(--color-tertiary);
  -webkit-text-stroke: var(--ziriguidum-stroke) black;
}

footer p {
    font-size: var(--step--1);
}

h2 {
    font-size: var(--step-4);
    line-height: calc(var(--step-4) * 1.2);
    padding-top: var(--space-m);
    margin-bottom: var(--space-s);
}

h3 {
    font-size: var(--step-3);
    line-height: calc(var(--step-3) * 1.2);
    padding-top: var(--space-m);
    margin-bottom: var(--space-s);
}

a {
    color: inherit;
    text-underline-offset: calc(var(--space-3xs) / 1.4);
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        text-decoration: none;
    }
}


:root {
  /* Colours */
    --color-primary: #A5E9BD;
    --color-secondary: #B1E7F9;
    --color-tertiary: #F9D949;
    --color-quaternary: white;

    --ziriguidum-stroke: clamp(0.03rem, 0.03rem + 0.08vw, 0.0875rem);
    --navbar-height: calc(var(--space-s) + var(--step-3) + var(--space-s));

  /* Step -2: 12.5px → 12.8px */
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  /* Step -1: 15px → 16px */
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  /* Step 1: 21.6px → 25px */
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  /* Step 2: 25.92px → 31.25px */
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  /* Step 3: 31.104px → 39.0625px */
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  /* Step 4: 37.3248px → 48.8281px */
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  /* Step 5: 44.7898px → 61.0352px */
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  /* Step 6: 53.7477px → 76.2939px */
  --step-6: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
  /* Step 7: 64.4973px → 95.3674px */
  --step-7: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);
  /* Step 8: 77.3967px → 119.2093px */
  --step-8: clamp(4.8373rem, 3.7682rem + 4.7514vw, 7.4506rem);

/* @link https://utopia.fyi/space/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */


  /* Space 3xs: 5px → 5px */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
  /* Space xs-s: 14px → 20px */
  --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
  /* Space m-l: 27px → 40px */
  --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
  /* Space l-xl: 36px → 60px */
  --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

  /* Custom pairs */
  /* Space s-l: 18px → 40px */
  --space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);
  --space-m-3xl: clamp(1.6875rem, -0.6903rem + 10.5682vw, 7.5rem);
  --space-m-2xl: clamp(1.6875rem, 0.3324rem + 6.0227vw, 5rem);
  /* Space 2xs-xl: 9px → 60px */
  --space-2xs-xl: clamp(0.5625rem, -0.7415rem + 5.7955vw, 3.75rem);
/* @link https://utopia.fyi/grid/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */


  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.bg-color-secondary {
  background-color: var(--color-secondary);
}

.bg-color-quaternary {
  background-color: var(--color-quaternary);
}

.padding-bottom-3xs {
  padding-bottom: var(--space-3xs);
}

.padding-bottom-xs {
  padding-bottom: var(--space-xs);
}

.padding-bottom-s {
  padding-bottom: var(--space-s);
}