.small-tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-l-xl) var(--space-m-l);
  margin-top: var(--space-m);
  margin-bottom: var(--space-s);

  border-collapse: collapse;
}

.small-table {
  text-align: center;

  background-color: var(--color-quaternary);
  box-shadow: 0px var(--space-3xs) var(--space-2xs) rgba(0,0,0,0.1);
  border-radius: var(--space-s-m);
  padding-bottom: calc(var(--space-s));
  padding-top: var(--space-2xs);
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  height: max-content;
  width: calc(var(--space-2xl) * 3.5);
}

.small-table th {
  padding: var(--space-xs) var(--space-2xs);
  border-bottom: 3px dashed black;
}

.small-table td {
  padding: var(--space-2xs) var(--space-2xs);
}


.small-table tr:nth-child(3) td,
.small-table tr:nth-child(10) td {
  border-bottom: 2px dashed var(--color-light-dashed);
}

.small-table td:last-child {
  border-right: none;
}

.inactive-tier {
    color: var(--color-inactive);
}

.small-table-accordion summary {
  cursor: pointer;
  font-size: var(--step--1);
  font-weight: bold;
}

@media (min-width: 901px) {
  .small-tables-container {
    display: none;
  }
}
