.form-newsletter-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xs);
  margin-top: var(--space-m);
}

.success-message {
  text-align: center;
  font-size: var(--step--1);
}

.error-message {
  font-size: var(--step--1);
  color: red;
  text-align: center;
}
